
.parent{
    width: 100%;
    max-width: 700px;
    height: 600px;
    margin: auto;
    border: 1px solid black;
    margin-top: 100px;
    display:flex;
    flex-direction: row;
    justify-content: center;

}
child{
    width: 100px;
    height: 100px;
  
}
.child1{
 background-color: red;
   flex-grow: 1;
}
.child2{
 background-color: green;
   flex-grow: 2;
}
.child3{
 background-color: blue;
   flex-grow: 3;
}