*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
table{
     width:700px;
     margin:auto;
     margin-top: 200px;
     margin-bottom: 200px;
     text-align: center;
}
table,th,td{
    border: 1px,solid black;
    border-collapse: collapse;
    padding: 10px;
}