*{
margin: 0;
padding:0;
box-sizing: border-box;

}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(235, 233, 233);
    align-items: center;
    padding: 10px;
}
nav ul{
    width: 200px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
main{
    
    background-color: rgb(198, 72, 72);
    color: antiquewhite;
}
main h4{
 margin-left: 150px;
}
main div{
    margin:30px 150px;
}
.cards{
    display: flex;
    gap:20px;
    margin-top: 20px;
    
    
}
section img{
    margin-top: 10px;
    margin-bottom: 10px;
   width:100%;
}
main h1,h2{
    text-align: center;
    margin-bottom: 10px;;
}
button{
    margin-top: 10px;
    margin-bottom: 20px;;
}
footer{
   
    background-color: cadetblue;
}
.foot{
    display: flex;
    gap:25px;
}
.foot section{
    margin:50px;
}
@media screen and (max-width:600px){
    .cards{
        flex-direction: column;
    }
    main{
        margin:25px 20px
    }
}